# Ignore all .mp4 files

# Ignore Magento.exe
*.exe  

# Ignore specific directories
geoids/

# Ignore .txt files in analysis big data folders
1_cliberation/1_acc/Analysis_big_data/*.txt
1_cliberation/2_gyro/Analysis_big_data/*.txt

